header {
  background-color: darkblue;
  text-align: center;
}
h3 {
  font-size: 80px;
  text-align: center;
} 

img {
  width: 25%;
  border-radius: 8px;
  display: block;
  margin: auto;
}

body{
    background-color: burlywood;
    text-align: center;
}

.gold{
    color: gold;
}

.red{
    color: red;
}

.big{
    font-size: 58px;
}

.italic{
    font-weight: bolder;
    font-size: 80px;
}

#footer ol {
    list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

#lists{
    display: flex;
    gap: 20px;
    flex:1;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}