header {
  background-color: cyan;
  text-align: center;

h3 {
  font-size: 30px;
  text-align: center;
} 

body{
    background-color: burlywood;
    text-align: center;
}

.gold{
    color: gold;
}

.red{
    color: red;
}